<template>
    <div id="TDLViewItemList">
        <h2>View component using entity child component</h2>
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Ajouter une tâche</label>
            <input
                    v-model="newTodoText"
                    id="new-todo"
                    placeholder="Ex. nourrir le chat"
            >
            <button>Add</button>
        </form>
        <p :style="styleError" v-show="hasError">{{errorMsg}}</p>
        <ul>
            <li
                    is="CompTDLEntityItem"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:id="todo.id"
                    v-bind:title="todo.title"
                    v-bind:status="todo.status"
                    v-bind:date="todo.date"
                    v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>
</template>


<script>
    import CompTDLEntityItem from './CompTDLEntityItem.vue'
    export default {
        name: "CompTDLViewItemList",
        components: {
            CompTDLEntityItem
        },
        data: function () {
            return {
                errorMsg: '',
                newTodoText: '',
                todos: []
            }
        },
        computed: {
            hasError: function () {
                return this.errorMsg !==''
            },

            styleError: function() {
                return {
                    color: 'white',
                    backgroundColor: 'red'
                }
            }
        },
        watch: {
            // eslint-disable-next-line no-unused-vars
            newTodoText: function(newTitle, oldTitle){
                if (newTitle.trim() === '') {
                    this.newTodoText = ''
                    return
                }
                this.newTodoText = newTitle
            }
        },
        methods: {
            getTodos: function () {
                var vm = this
                // eslint-disable-next-line no-undef
                axios.get('https://yesno.wtf/api')
                    // eslint-disable-next-line no-unused-vars
                    .then(function (response) {
                        vm.todos = [
                            {
                                id: 1,
                                title: 'Faire la vaisselle',
                                status: 'Current',
                                date: '2019-01-11 10:11'
                            },
                            {
                                id: 2,
                                title: 'Sortir les poubelles',
                                status: 'Done',
                                date: '2019-01-12 18:11'
                            },
                            {
                                id: 3,
                                title: 'Tondre la pelouse',
                                status: 'To do',
                                date: '2019-02-01 09:11'
                            }
                        ]
                        vm.errorMsg = ''
                    })
                    .catch(function (error) {
                        vm.errorMsg = "Erreur ! Impossible d'accéder à l'API." + error
                    })
            },
            addNewTodo: function() {
                if (this.newTodoText === '') {
                    this.errorMsg = 'Have to enter some task label bro !'
                    return
                }
                this.errorMsg = '';
                const id = this.todos.length + 1;
                const now = new Date();
                const optionsDate = { year: 'numeric', month: 'numeric', day: 'numeric' }
                const item = { id: id, title: this.newTodoText, status: 'To do', date: now.toLocaleString('fr-FR', optionsDate)}
                this.todos.push(item)
            },
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompTDLViewItemList is created !");

            // get data from API
            this.getTodos();
        }
    }
</script>

<style scoped>

</style>