<template>
    <div class="hello">
        <p>Composant calcul et observer</p>
        <p>Message original : "{{ messageData }}"</p>
        <p>Message inversé calculé : <span v-html="inverseMessageHtml"></span></p>
        <form>
            <fieldset>
                <legend>Use <i>watch:</i> to make async call and intermediary operations</legend>
                <input id="question" v-model="question">
                <label for="question">Posez votre question (réponse par Oui ou Non) :</label>
            </fieldset>
        </form>
        <p>{{answer}}</p>
    </div>
</template>

<script>
    import _ from 'lodash'
    export default {
        name: "CompoExo3CalculEtObserver",
        props: {
            groupName: String
        },
        data: function () {
            return {
                messageData: "Message init",
                lastName: 'Doe',
                firstName: 'John',
                question: '',
                answer: 'Je ne peux pas vous donner une réponse avant que vous ne posiez une question !'
            }
        },
        computed: {
            inverseMessageHtml: function() {
                const msg = "Idem que <i>methods:</i> but <i>computed:</i> are cached and run only dependency is changed !<br>" +
                    "C'est préférable à une utilisation abusive de <i>watch:</i>"
                return msg + '<br>' + this.messageData.split('').reverse().join('') + '__' + this.groupName;
            },
            // mutateur calculé
            fullName: {
                get: function() {
                    return this.lastName  + ' ' + this.firstName;
                },
                set: function(val) {
                    const parts = val.split(' ');
                    this.lastName = parts[0];
                    this.firstName = parts[parts.length -1];
                }
            }
        },
        watch: {
            // eslint-disable-next-line no-unused-vars
            question: function(newQuestion, oldQuestion) {
                this.answer = "J'attends que vous arrêtiez de taper...";
                this.debouncedGetAnswer();
            }
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = "Les questions contiennent généralement un point d'interrogation. ;-)"
                    return
                }
                this.answer = 'Je réfléchis...'
                var vm = this
                // eslint-disable-next-line no-undef
                axios.get('https://yesno.wtf/api')
                    .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                    })
                    .catch(function (error) {
                        vm.answer = "Erreur ! Impossible d'accéder à l'API." + error
                    })
            }
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompoExo3CalculEtObserver is created !");

            // set throttle for getAnswer
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        }
    }
</script>

<style scoped>
    .hello {
        border: dotted 1px #000000;
    }
</style>