<template>
    <div class="hello">
        <ul>
            <li v-for="item in items" :key="item.id">
                {{ item.id }} - {{ item.title }} - {{ item.resume }}
            </li>
        </ul>
        <button @click="pushList('Nouvel item', 'Resumé nouvel item')">Ajout Push</button>
        <button @click="popList">Enlever Pop</button>
        <p>List filtré</p>
        <ul>
            <li v-for="item in filterEven(items)" :key="item.id">
                {{ item.id }} - {{ item.title }} - {{ item.resume }}
            </li>
        </ul>
        <p>V-for et plage de valeur</p>
        <div>
            <span v-for="n in 10" :key="n">{{ n }} </span>
        </div>
        <p>v-for on template tag</p>
        <ul>
            <template v-for="item in items">
                <li :key="item.id">{{ item.title }}</li>
                <li :key="item.id" class="divider" role="presentation"></li>
            </template>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "CompoExo6RenduListe",
        data: function () {
            return {
                items: [  {
                            id: 1,
                            title: "Titre 1",
                            resume: "Résumé titre 1..."
                         },
                         {
                            id: 2,
                            title: "Titre 2",
                            resume: "Résumé titre 2..."
                         }
                ]
            }
        },
        methods: {
          // Notice : les mutateurs de tabbleau JS sont surchargés par Vue
          // Notice : affection direct via index ou changement dynamique de longueur de tableau n'EST pas Réactif
          // Can be patched by
          // -- vm.$set(vm.items, indexOfItem, newValue) | Vue.set(...)
          // -- vm.items.splice(newLength)
          pushList: function(title, resume) {
              const id = this.items.length + 1;
              const item = { id: id, title: title, resume: resume}
              this.items.push(item)
          },
          popList: function() {
              if (this.items.length === 0) return;
              this.items.pop();
          },
          filterEven: function() {
              return this.items.filter(function (item) {
                  return (item.id % 2 === 0)
              })
          }
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompoExo6RenduListe is created !");
        }
    }
</script>

<style scoped>
    .hello {
        border: dotted 1px #000000;
    }
</style>