<template>
    <div  v-bind:style="ClassCompo">
        <div v-bind:class="ClassMessage">Message test class binding</div>
        <button @click="setErrorActive">Activate error</button>
    </div>
</template>

<script>
    export default {
        name: "CompoExo4BindClassStyle",
        data: function() {
            return {
                isActive: true,
                error: null
             };
        },
        computed: {
            ClassMessage: function () {
                return {
                    'active': this.isActive,
                    'error' : this.error !== null
                }
            },
            ClassCompo: function () {
                return {
                    color: 'red',
                    fontSize: '13px'
                }
            }
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompoExo4BindClassStyle is created !");
        },
        methods: {
            setErrorActive: function() {
                this.isActive = true
                this.error = true;
            }
        }
    }
</script>

<style scoped>
    .hello {
        border: dotted 1px #000000;
    }
    .error {
        color: red;
    }
</style>