<template>
    <div class="hello">
        <p>Ceci est un exercice pour tester les hooks cycles de vie d'une appli Vue</p>
        <p>{{message}}</p>
        <button v-on:click="message = 'Attention, pas changer props value directly !! use data or computed...'">Changer le message!</button>
    </div>
</template>

<script>
    export default {
        name: "CompExo1Hook",
        props: {
            message: String
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompExo1Hook is created !");
        }
    }
</script>

<style scoped>
p {
    margin: 0 20px;
    font-weight: bold;
}
</style>