<template>
    <div class="hello">
        <p>{{message}}</p>
        <p v-once>With <i>v-once</i> directive, this will never change : {{message}}</p>
        <button v-on:click="$data.idDiv = 'id_div_2'">Changer id div</button>
        <div :id="$data.idDiv">Div id attribute defined by v-bind:id</div>
        <p v-if="$data.seen">Visible ou pas</p>
        <button @click="$data.toggleVisibility()">Toggle visibility</button>
    </div>
</template>

<script>
    export default {
        name: "CompExo2SyntaxTemplate",
        props: {
            message: String
        },
        data: function() {
                return {
                    idDiv: 'Id_Div',
                    seen: true,
                    toggleVisibility: function () {
                        this.seen = !this.seen;
                    }
              };
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompExo2SyntaxTemplate is created !");
        },
    }
</script>

<style scoped>
.hello {
    border: dotted 1px #000000;
}
</style>