<template>
    <div class="hello">
        <form @submit.prevent="onSubmit">
            <!-- utilise v-if si la condition ne change probablement pas durant l'execution -->
            <template v-if="loginType === 'username'">
                <label>Nom d'utilisateur</label>
                <input placeholder="Entrez votre nom d'utilisateur" key="username-input">
            </template>
            <template v-else>
                <label>Email</label>
                <input placeholder="Entrez votre adresse email" key="email-input">
            </template>
            <button @click="loginType = (loginType === ('username') ? 'email' : 'username')">Changer de type</button>
        </form>
        <p>
            Ceci utilise v-show pour changer la propriété style de ce <i>span</i><br>
            <!-- Préférer v-show -->
            <span v-show="showInfos">Infos a afficher conditionnel</span>
            <button @click="showInfos = !showInfos">Toggle display ce span</button>
        </p>
    </div>
</template>

<script>
    export default {
        name: "CompoExo5RenduConditionnel",
        data: function () {
            return {
                loginType: 'username',
                showInfos: false
            }
        },
        created: function () {
            // eslint-disable-next-line no-console
            console.log("CompoExo5RenduConditionnel is created !");
        }
    }
</script>

<style scoped>
    .hello {
        border: dotted 1px #000000;
    }
</style>