<template>
    <li>
        {{ title }} - {{ status }} - {{ date }}
        <button @click="$emit('remove', id)">Supprimer</button>
    </li>
</template>

<script>
    /**
     * Entity Item
     */
    export default {
        name: "CompTDLEntityItem",
        props: {
            id: Number,
            title: String,
            status: String,
            date: String
        }
    }
</script>

<style scoped>

</style>