<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <CompExo1Hook message="Component CompExo1Hook !"/>
    <CompExo2SyntaxTemplate message="Component CompExo2SyntaxeTemplate"/>
    <CompoExo3CalculEtObserver groupName="Toto"/>
    <CompoExo4BindClassStyle/>
    <CompoExo5RenduConditionnel/>
    <CompoExo6RenduListe/>
    <CompTDLViewItemList/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import CompExo1Hook from './components/CompExo1Hook.vue'
import CompExo2SyntaxTemplate from './components/CompExo2SyntaxTemplate.vue'
import CompoExo3CalculEtObserver from './components/CompoExo3CalculEtObserver.vue'
import CompoExo4BindClassStyle from './components/CompoExo4BindClassStyle.vue'
import CompoExo5RenduConditionnel from './components/CompoExo5RenduConditionnel.vue'
import CompoExo6RenduListe from './components/CompoExo6RenduListe.vue'
import CompTDLViewItemList from './components/CompTDLViewItemList.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    CompExo1Hook,
    CompExo2SyntaxTemplate,
    CompoExo3CalculEtObserver,
    CompoExo4BindClassStyle,
    CompoExo5RenduConditionnel,
    CompoExo6RenduListe,
    CompTDLViewItemList
  },
  created: function () {
    // eslint-disable-next-line no-console
    console.log("App is created !");
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
